<h1 class="text-2xl sm:text-4xl mb-6 font-medium">My Deals</h1>
<mat-spinner *ngIf="loading" class="mx-auto"></mat-spinner>
<app-alert *ngIf="!loading && (!orders || !orders.length)" [message]="'You do not have any orders'"></app-alert>
<mat-accordion *ngIf="orders && orders.length" class="max-w-screen-lg mx-auto">
  <mat-expansion-panel *ngFor="let order of orders">
    <mat-expansion-panel-header>
      <mat-panel-title class="sm:w-1/4">
        {{order.key}}
      </mat-panel-title>
   
      <mat-panel-description>
     <span class="w-4/4" >{{order.items.address}}</span>
      </mat-panel-description>

    </mat-expansion-panel-header>

    <mat-list>
      <div *ngFor="let item of order.items.items">
        <mat-list-item>
          <span class="w-2/3">{{item.quantity}} x {{item.title | uppercase}}</span>
          <span class="w-3/3">{{item.unitPrice * item.quantity * item.priceMultiplier | currency:'GBP'}}</span>

        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
      <mat-list-item>
        <span class="w-2/3" [style.font-weight]="'bold'">Total {{itemsCount(order)}}&nbsp;{{itemsCount(order) > 1 ? 'items' : 'item'}}&nbsp;</span>
        <span class="w-3/3" [style.font-weight]="'bold'">{{totalPrice(order) | currency:'GBP'}}</span>
  

      </mat-list-item>
      <mat-list-item>
        <!-- <span class="w-1/3">Comment:</span> -->
        <span class="w-3/3">{{order.items.comments}}</span>
  

      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>